<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.uktraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Dashboard" />
<meta name="keyword"
	content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />

<title>GED AND SAE</title>
<!-- Bootstrap core CSS -->
<link href="../static/assets/css/bootstrap.css" rel="stylesheet"
	type="text/css" th:href="@{/assets/css/bootstrap.css}" />
<!--external css-->
<link href="../static/assets/font-awesome/css/font-awesome.css"
	rel="stylesheet" th:href="@{/assets/font-awesome/css/font-awesome.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/assets/css/zabuto_calendar.css"
	th:href="@{/assets/css/zabuto_calendar.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/assets/js/gritter/css/jquery.gritter.css"
	th:href="@{/assets/js/gritter/css/jquery.gritter.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/assets/lineicons/style.css"
	th:href="@{/assets/lineicons/style.css}" />

<!-- Custom styles for this template -->
<link href="../static/assets/css/style.css" rel="stylesheet"
	th:href="@{/assets/css/style.css}" />
<link href="../static/assets/css/style-responsive.css" rel="stylesheet"
	th:href="@{/assets/css/style-responsive.css}" />

<script src="../static/assets/js/chart-master/Chart.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<section id="container">
		<!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
		<!--header start-->
		<header class="header black-bg">
			<div class="sidebar-toggle-box">
				<div class="fa fa-bars tooltips" data-placement="right"
					data-original-title="Toggle Navigation"></div>
			</div>
			<!--logo start-->
			<a href="acceuil.html" class="logo"><b>Electro Mechanical Works</b></a>
			<!--logo end-->
			<div class="nav notify-row" id="top_menu">
				<!--  notification start -->
				<ul class="nav top-menu">
					<!-- settings start -->
					
					<!-- settings end -->
					<!-- inbox dropdown start-->
							<div class="notify-arrow notify-arrow-green"></div>
						
					<!-- inbox dropdown end -->
				</ul>
				<!--  notification end -->
			</div>
			<div class="top-menu">
				<ul class="nav pull-right top-menu">
					<li><a class="logout" th:href="@{/login?logout}">Deconnexion</a></li>
				</ul>
			</div>
		</header>
		<!--header end-->

		<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
		<!--sidebar start-->
		<aside>
			<div id="sidebar" class="nav-collapse ">
				<!-- sidebar menu start-->
				<ul class="sidebar-menu" id="nav-accordion">

					<p class="centered">
						<a href="profile.html"><img src="assets/img/ui-sam.jpg"
							class="img-circle" width="60" /></a>
					</p>
					<h5 class="centered" th:text="${username}"></h5>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<li class="sub-menu">
					<a href="javascript:;"> 
					<i class="fa fa-desktop"></i> 
					<span>Gestion Service et Poste</span>
					</a>
						<ul class="sub">
							<li><a th:href="@{/ajoutservice}">Ajout Service</a></li>
							<li><a th:href="@{/allservices}">Liste des Services</a></li>
							<li><a th:href="@{/ajoutposte}">Ajout Poste</a></li>
							<li><a th:href="@{/allpostes}">Liste des Postes</a></li>
						</ul>
					</li>
					</div>
				
					<li class="sub-menu"><a href="javascript:;"> <i
							class="fa fa-cogs"></i> <span>Gestion Utilisateurs</span>
					</a>
						<ul class="sub">
							<li><a th:href="@{/ajoututilisateur}">Verification
									Utilisateur</a></li>
						</ul></li>
					<li class="sub-menu"><a href="javascript:;"> <i
							class="fa fa-book"></i> <span>Gestion Documents</span>
					</a>
						<ul class="sub">
							<li><a th:href="@{/numerisationprestation}">Numérisation
									Demande Prestation</a></li>
							<li><a th:href="@{/historiqueprestation}">Historique
									Demande Prestation</a></li>
							<li><a th:href="@{/demandeachat}">Création demande
									d'achat</a></li>
							<li><a th:href="@{/historiquedemandeachat}">Historique
									demande d'achat</a></li>
							<li><a th:href="@{/historiquedemandeappro}">Historique
									demande d'approvisionnement</a></li>
						</ul></li>
					<li class="sub-menu"><a href="javascript:;"> <i
							class="fa fa-book"></i> <span>Gestion Commandes</span>
					</a>
						<ul class="sub">
							<li><a th:href="@{/historiquebonachat}">Liste des Bon
									d'achat</a></li>
							<li><a th:href="@{/creationboncommande}">Creation Bon de
									Commande</a></li>
							<li><a th:href="@{/historiquebonacommande}">Liste Bon
									Commande</a></li>
							<li><a th:href="@{/creationbonlivraison}">Creation Bon
									de Livraison</a></li>
							<li><a th:href="@{/historiquebonlivraison}">Liste Bon
									Livraison</a></li>
						</ul></li>
					<li class="sub-menu"><a href="javascript:;"> <i
							class="fa fa-tasks"></i> <span>Getion Produits</span>
					</a>
						<ul class="sub">
							<li><a th:href="@{/ajoutypeproduit}">Ajout Categorie</a></li>
						</ul>
						<ul class="sub">
							<li><a th:href="@{/allcategories}">Liste Categorie</a></li>
						</ul>
						<ul class="sub">
							<li><a th:href="@{/ajoutproduit}">Ajout Produit</a></li>
						</ul>
						<ul class="sub">
							<li><a th:href="@{/allproduits}">Liste Produit</a></li>
						</ul></li>
					<li class="sub-menu"><a href="javascript:;"> <i
							class="fa fa-th"></i> <span>Gestion Stock</span>
					</a>
						<ul class="sub">
							<li><a th:href="@{/creationfichesortie}">Creation Fiche
									de Sortie</a></li>
							<li><a th:href="@{/historiquefichedesortie}">Liste Fiche
									De Sortie</a></li>
						</ul></li>
					<li class="sub-menu"><a href="javascript:;"> <i
							class=" fa fa-bar-chart-o"></i> <span>Gestion Fournisseur</span>
					</a>
						<ul class="sub">
							<li><a th:href="@{/ajoutfournisseur}">Ajout Fournisseur</a></li>
							<li><a th:href="@{/historiquefournisseur}">Liste
									Fournisseur</a></li>
						</ul></li>

				</ul>
				<!-- sidebar menu end-->
			</div>
		</aside>
		<!--sidebar end-->

		<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">

				<div class="row">
					<div class="col-lg-9 main-chart">

						<div class="row mtbox">
							<div class="col-md-2 col-sm-2 col-md-offset-1 box0">
								<div class="box1">
									<span class="li_heart"></span>
									<h3>933</h3>
								</div>
								<p>933 People liked your page the last 24hs. Whoohoo!</p>
							</div>
							<div class="col-md-2 col-sm-2 box0">
								<div class="box1">
									<span class="li_cloud"></span>
									<h3>+48</h3>
								</div>
								<p>48 New files were added in your cloud storage.</p>
							</div>
							<div class="col-md-2 col-sm-2 box0">
								<div class="box1">
									<span class="li_stack"></span>
									<h3>23</h3>
								</div>
								<p>You have 23 unread messages in your inbox.</p>
							</div>
							<div class="col-md-2 col-sm-2 box0">
								<div class="box1">
									<span class="li_news"></span>
									<h3>+10</h3>
								</div>
								<p>More than 10 news were added in your reader.</p>
							</div>
							<div class="col-md-2 col-sm-2 box0">
								<div class="box1">
									<span class="li_data"></span>
									<h3>OK!</h3>
								</div>
								<p>Your server is working perfectly. Relax and enjoy.</p>
							</div>

						</div>
						<!-- /row mt -->


						<div class="row mt">
							<!-- SERVER STATUS PANELS -->
							<div class="col-md-4 col-sm-4 mb">
								<div class="white-panel pn donut-chart">
									<div class="white-header">
										<h5>SERVER LOAD</h5>
									</div>
									<div class="row">
										<div class="col-sm-6 col-xs-6 goleft">
											<p>
												<i class="fa fa-database"></i> 70%
											</p>
										</div>
									</div>
									<canvas id="serverstatus01" height="120" width="120"></canvas>
									<script>
									var doughnutData = [
											{
												value: 70,
												color:"#68dff0"
											},
											{
												value : 30,
												color : "#fdfdfd"
											}
										];
										var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
								</script>
								</div>
							</div>
							<!-- /col-md-4-->


							<div class="col-md-4 col-sm-4 mb">
								<div class="white-panel pn">
									<div class="white-header">
										<h5>TOP PRODUCT</h5>
									</div>
									<div class="row">
										<div class="col-sm-6 col-xs-6 goleft">
											<p>
												<i class="fa fa-heart"></i> 122
											</p>
										</div>
										<div class="col-sm-6 col-xs-6"></div>
									</div>
									<div class="centered">
										<img src="assets/img/product.png" width="120" />
									</div>
								</div>
							</div>
							<!-- /col-md-4 -->

							<div class="col-md-4 mb">
								<!-- WHITE PANEL - TOP USER -->
								<div class="white-panel pn">
									<div class="white-header">
										<h5>TOP USER</h5>
									</div>
									<p>
										<img src="assets/img/ui-zac.jpg" class="img-circle" width="80" />
									</p>
									<p>
										<b>Zac Snider</b>
									</p>
									<div class="row">
										<div class="col-md-6">
											<p class="small mt">MEMBER SINCE</p>
											<p>2012</p>
										</div>
										<div class="col-md-6">
											<p class="small mt">TOTAL SPEND</p>
											<p>$ 47,60</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /col-md-4 -->


						</div>
						<!-- /row -->


						<div class="row">
							<!-- TWITTER PANEL -->
							<div class="col-md-4 mb">
								<div class="darkblue-panel pn">
									<div class="darkblue-header">
										<h5>DROPBOX STATICS</h5>
									</div>
									<canvas id="serverstatus02" height="120" width="120"></canvas>
									<script>
									var doughnutData = [
											{
												value: 60,
												color:"#68dff0"
											},
											{
												value : 40,
												color : "#444c57"
											}
										];
										var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
								</script>
									<p>April 17, 2014</p>
									<footer>
										<div class="pull-left">
											<h5>
												<i class="fa fa-hdd-o"></i> 17 GB
											</h5>
										</div>
										<div class="pull-right">
											<h5>60% Used</h5>
										</div>
									</footer>
								</div>
							</div>
							<!-- /col-md-4 -->


							<div class="col-md-4 mb">
								<!-- INSTAGRAM PANEL -->
								<div class="instagram-panel pn">
									<i class="fa fa-instagram fa-4x"></i>
									<p>
										@THISISYOU<br /> 5 min. ago
									</p>
									<p>
										<i class="fa fa-comment"></i> 18 | <i class="fa fa-heart"></i>
										49
									</p>
								</div>
							</div>
							<!-- /col-md-4 -->

							<div class="col-md-4 col-sm-4 mb">
								<!-- REVENUE PANEL -->
								<div class="darkblue-panel pn">
									<div class="darkblue-header">
										<h5>REVENUE</h5>
									</div>
									<div class="chart mt">
										<div class="sparkline" data-type="line" data-resize="true"
											data-height="75" data-width="90%" data-line-width="1"
											data-line-color="#fff" data-spot-color="#fff"
											data-fill-color="" data-highlight-line-color="#fff"
											data-spot-radius="4"
											data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
									</div>
									<p class="mt">
										<b>$ 17,980</b><br />Month Income
									</p>
								</div>
							</div>
							<!-- /col-md-4 -->

						</div>
						<!-- /row -->

						<div class="row mt">
							<!--CUSTOM CHART START -->
							<div class="border-head">
								<h3>VISITS</h3>
							</div>
							<div class="custom-bar-chart">
								<ul class="y-axis">
									<li><span>10.000</span></li>
									<li><span>8.000</span></li>
									<li><span>6.000</span></li>
									<li><span>4.000</span></li>
									<li><span>2.000</span></li>
									<li><span>0</span></li>
								</ul>
								<div class="bar">
									<div class="title">JAN</div>
									<div class="value tooltips" data-original-title="8.500"
										data-toggle="tooltip" data-placement="top">85%</div>
								</div>
								<div class="bar ">
									<div class="title">FEB</div>
									<div class="value tooltips" data-original-title="5.000"
										data-toggle="tooltip" data-placement="top">50%</div>
								</div>
								<div class="bar ">
									<div class="title">MAR</div>
									<div class="value tooltips" data-original-title="6.000"
										data-toggle="tooltip" data-placement="top">60%</div>
								</div>
								<div class="bar ">
									<div class="title">APR</div>
									<div class="value tooltips" data-original-title="4.500"
										data-toggle="tooltip" data-placement="top">45%</div>
								</div>
								<div class="bar">
									<div class="title">MAY</div>
									<div class="value tooltips" data-original-title="3.200"
										data-toggle="tooltip" data-placement="top">32%</div>
								</div>
								<div class="bar ">
									<div class="title">JUN</div>
									<div class="value tooltips" data-original-title="6.200"
										data-toggle="tooltip" data-placement="top">62%</div>
								</div>
								<div class="bar">
									<div class="title">JUL</div>
									<div class="value tooltips" data-original-title="7.500"
										data-toggle="tooltip" data-placement="top">75%</div>
								</div>
							</div>
							<!--custom chart end-->
						</div>
						<!-- /row -->

					</div>
					<!-- /col-lg-9 END SECTION MIDDLE -->

				</div>
			</section>
		</section>

		<!--main content end-->
		<!--footer start-->
		<div class="navbar-fixed-bottom">
	<footer class="site-footer">
          <div class="text-center">
              Copyright Raymond SADIO
              <a class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
       </div>
		<!--footer end-->
	</section>

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/jquery-1.8.3.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript"
		src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
	<script src="assets/js/jquery.scrollTo.min.js"></script>
	<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="assets/js/jquery.sparkline.js"></script>


	<!--common script for all pages-->
	<script src="assets/js/common-scripts.js"></script>

	<script type="text/javascript"
		src="assets/js/gritter/js/jquery.gritter.js"></script>
	<script type="text/javascript" src="assets/js/gritter-conf.js"></script>

	<!--script for this page-->
	<script src="assets/js/sparkline-chart.js"></script>
	<script src="assets/js/zabuto_calendar.js"></script>
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>


</body>
</html>
